<!-- Firma Mirko -->
<p style="margin-top: 20px;">
    <p>Saludos cordiales.</p><br>
    <img src="cid:signature_image" alt="Firma" style="width: 216px; height: 59px;"><br>
    <b style="color: #004481; font-size: 10pt;">
        Mirko I. Iriarte Vidangos
    </b><br>
    <b style="color: #2DCCCD; font-size: 10pt;">
        Recoveries Agencies Late Default
    </b><br>
    <b style="color: #2DCCCD; font-size: 10pt;">
        Unidad de Riesgos
    </b><br>
    <a href="mailto:mirko.iriarte@bbva.com" style="color: #004481; text-decoration: none;">
        mirko.iriarte@bbva.com
    </a><br>
    <b style="color: #2DCCCD; font-size: 10pt;">BBVA Perú</b>
    <span style="color: #666666; font-size: 10pt;">– Av. República de Panamá 3055, piso 4, San Isidro - Lima.</span><br>
</p>