<p><strong>Buen Día,</strong></p>
<p>Remito en adjunto:</p>
<p>
    - La <strong>Base de Pagos Multiproducto</strong> pendiente de aplicar. Por favor indicar al contrato que se debe instruir. De no tener conocimiento o contacto por favor no completar la información para evitar observaciones innecesarias. 
    <span style="background-color: yellow;">En caso fuera un contrato <i><b>REACTIVA / FAE / CRECER</b></i>, indicar en la columna <strong>TIPO_FONDO</strong>.</span> 
    Asimismo, indicar <span style="background-color: yellow;"><strong>SÓLO PARA ESTOS CASOS</strong>,</span> en la columna <strong>TIPO_PAGO</strong> si el pago corresponde a una <span style="background-color: yellow;"><strong>AMORTIZACION</strong> o <strong>CANCELACION</strong>.</span>
</p>
<p>
    - La <strong>Base de Pagos Monoproducto</strong> identificados como <i><strong>REACTIVA / FAE / CRECER</strong></i>. 
    <span style="background-color: yellow;">Por favor indicar en la columna <strong>TIPO_PAGO</strong> si el pago corresponde a una <strong>AMORTIZACION</strong> o <strong>CANCELACION</strong>.</span> (De no estar este archivo adjunto, omitir)
</p>
<p>Por favor cruzar por código central y enviar en el horario, de lo contrario no se enviará la instrucción y perjudicamos al cliente.</p>
<p><span style="background-color: cyan;">Por favor que los contratos estén completos y <strong>"SIN ESPACIOS"</strong></span></p>
<p><strong>Plazo máximo de entrega: {% if hora %}{{ hora }}{% else %}{{ '00:00' }}{% endif %}</strong></p>